*,
html {
    padding: 0;
    margin: 0;
}

.div-menu {
    background-color: green;
    width: 100%;
    height: 30px;
}

.ul-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.li-menu {
    color: white;
    list-style-type: none;
    padding: 20px
}

.a-menu {
    color: white;
    text-decoration: none;
}

.a-menu:hover {
    color: blue;
    text-decoration: underline;
}

.div-nama {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.nama {
    font-size: 20px;
}

.deskripsi {
    text-align: justify;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-indent: 30px;
}

.desk2 {
    margin-top: 20px;
}
